/*$iconSpritePath: "../images/glyphicons-halflings.png";*/
/*$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";*/

/*@import 'sass-bootstrap/lib/bootstrap';*/

@import "susy";

$total-columns: 1;
$column-width : 16em;
$gutter-width : 1em;
$grid-padding : $gutter-width / 2;

$tablet: 5;
$computer: 32em 5;
$xl: 48em 5;
$xxl: 96em 5;

html { height: 100%; }

body {
  background: #eaeaea;
  color: #282828;
  text-shadow: rgb(255, 255, 255) 1px 1px 0px;
  font-size: 100%;
  margin-top: 2em;

  @include at-breakpoint($computer) {
    font-size: 133%;
  }
  @include at-breakpoint($xl) {
    font-size: 150%;
  }
  @include at-breakpoint($xxl) {
    font-size: 200%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
}

/*h1 { font-size: 60px; line-height: 60px; }*/
/*h2 { font-size: 30px; line-height: 40px; }*/

hr {
  background: linear-gradient( left, rgba(0,0,0,0.15), rgba(255,242,0,1.00), rgba(236,0,236,1.00), rgba(0,174,239,1.00), rgba(0,0,0,0.15) );
  border: 0px;
  height: 1px;
  margin: 1.67em 0;
}

a {
  color: #282828;
  text-decoration: none;
}
a:hover {
  color: #EC008C;
}

#container {
  @include container($total-columns, $tablet, $computer);

  @include at-breakpoint($computer) {
    $column-width: 4em;
    $gutter-width : 1em;
    $grid-padding : $gutter-width;

    @include container;

    #logo {
      @include span-columns(2, 5);
      max-width: 6.5em;
    }

    h1 {
      @include span-columns(3 omega, 5);
      text-align: right;
    }
  }

  #description { clear: both; }

}

#logo {
  width: 100%;
}

p {
  line-height: 1.67em;
}

#footer {
  font-size: 0.67em;
  text-align: right;
}
