@import "normalize";

@import "bourbon";
@import "neat";

$max-width: em(250);

$l: new-breakpoint(min-width 512px 12);
$xl: new-breakpoint(min-width 768px 12);
$xxl: new-breakpoint(min-width 1366px 12);

/* Official MK colors */
$color-c: #00adef;
$color-m: #ec008b;
$color-y: #fff100;

@mixin mk-container() {
  @include outer-container;

  @include media($l) {
    max-width: em(350);
  }
}

@mixin mk-gradient() {
  @include background-image(
    linear-gradient(
      left,
      rgba(0,0,0,0.15),
      rgba(255,242,0,1.00),
      rgba(236,0,236,1.00),
      rgba(0,174,239,1.00),
      rgba(0,0,0,0.15)
    )
  );
}

html { height: 100%; }

body {
  background: #eaeaea;
  color: #282828;
  text-shadow: rgba(0, 0, 0, 0.20) 1px 1px 1px;
  font-size: 100%;
  margin-top: 2em;

  @include media($l) {
    font-size: 133%;
  }
  @include media($xl) {
    font-size: 150%;
  }
  @include media($xxl) {
    font-size: 200%;
  }
}

a {
  color: #282828;
  text-decoration: none;
  border-bottom: 1px dotted rgba(236,0,236,1.0);
  font-weight: bold;

  &:hover {
    color: #EC008C;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;

  & a {
    border-bottom: none;
  }
}

p {
  text-align: justify;
}

hr {
  @include mk-gradient;
  border: 0px;
  height: 1px;
  margin: 1.67em 0;
}

#logo {
  width: 100%;
}

p {
  line-height: 1.67em;
}

header {
  @include mk-container;

  h1 {
    text-align: center;
  }

  @include media($l) {
    #logo {
      @include span-columns(4);
    }

    h1 {
      @include span-columns(8);
      @include omega;
      text-align: right;
      padding-bottom: 0.33em;
    }
  }
}

#description {
  @include mk-container;

  margin-bottom: 2em;
}

.social-media {
  @include mk-container();
  margin-bottom: 2em;
  text-align: center;

  a {
    border: 0;
    font-size: 2em;
  }
}

footer {
  background: #282828;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.65) 1px 1px 0px;

  div {
    @include mk-container;
  }

  p {
    font-size: 0.67em;
    text-align: center;
    padding-top: 1em;
    margin-top: 0;
  }

  a {
    border-bottom: none;
    color: white;
  }

  .social-media-footer {
    text-align: center;
    padding: 1.0em 0 0;
  }

  @include media($l) {
    .social-media-footer {
      text-align: left;
      padding: 0.65em 0 0;
      float: left;
    }

    p {
      float: right;
    }
  }
}

.project {
  &> div {
    @include mk-container;
  }

  h2 {
    letter-spacing: 0.07em;
    margin-top: 0;
    padding-top: 1.67em;
  }

  p:last-child {
    margin-bottom: 0;
    padding-bottom: 1.67em;
  }

  &:nth-of-type(2) {
    border-top: 0.5em solid shade(#eaeaea, 15%);
  }

  &:nth-of-type(3n + 2) {
    background-color: $color-c;
    border-bottom: 0.5em solid shade($color-c, 15%);
    color: white;
    text-shadow: rgba(0, 0, 0, 0.50) 1px 1px 1px;
    a {
      color: white;
      border-bottom: 1px dotted $color-y;
      &:hover {
        color: $color-y;
      }
    }
    h2 a {
      color: white;
      border-bottom: none;
      &:hover {
        color: $color-y;
      }
    }
  }
  &:nth-of-type(3n + 3) {
    background-color: $color-m;
    border-bottom: 0.5em solid shade($color-m, 15%);
    color: white;
    text-shadow: rgba(0, 0, 0, 0.50) 1px 1px 1px;
    a {
      color: white;
      border-bottom: 1px dotted $color-y;
      &:hover {
        color: $color-y;
      }
    }
    h2 a {
      color: white;
      border-bottom: none;
      &:hover {
        color: $color-y;
      }
    }
  }
  &:nth-of-type(3n + 1) {
    background-color: $color-y;
    border-bottom: 0.5em solid shade($color-y, 15%);
    color: white;
    text-shadow: rgba(30, 30, 30, 0.40) 1px 1px 0px;
    a {
      color: white;
      &:hover {
        color: $color-m;
        text-shadow: rgba(0, 0, 0, 0.20) 1px 1px 1px;
      }
    }
    h2 a {
      color: white;
      &:hover {
        color: $color-m;
        text-shadow: rgba(30, 30, 30, 0.20) 1px 1px 1px;
      }
    }
  }
}
